#promotion-section {
    position: relative;
    padding: 24px;
    border-bottom: 0.2vh solid #f95f22;
    background-color: #fff;
}

@media screen and (max-width: 1200px) {
    #promotion-container {
        position: relative;
        width: 100%;
        height: 28.08vw;
        background-image: linear-gradient(to bottom right, #f95f22, #008BFF);
        border-radius: 4px;
    }
    #promotion-infor-container {
        padding-bottom: 24px;
        margin-bottom: 24px;
        border: 0.2vh dashed #f95f22;
    }
    #promotion-infor-container .heading-container {
        padding: calc(2.75vh - 12px) 0;
        height: 8vh;
    }
    #promotion-infor-container .heading-container .heading {
        margin-top: 0;
    }
    #promotion-infor-container .infor-container {
        padding: 0 8px;
        min-height: 10vh;
        margin-bottom: 24px;
    }
    #promotion-infor-container .infor-container .infor {
        line-height: 1.6;
        letter-spacing: 1px;
    }
    #promotion-container .center-image {
        width: 99% !important;
    }
}

@media screen and (min-width: 1200px) {
    #promotion-container {
        position: relative;
        display: inline-block;
        width: 65%;
        height: 28.08vw;
        background-image: linear-gradient(to bottom right, #f95f22, #008BFF);
        border-radius: 4px;
    }
    #promotion-infor-container {
        float: right;
        width: calc(35% - 32px);
        height: 28.08vw;
        border: 0.2vh dashed #f95f22;
    }
    #promotion-infor-container .heading-container {
        position: relative;
        height: 20%;
    }
    #promotion-infor-container .heading-container .heading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
    }
    #promotion-infor-container .infor-container {
        padding: 0 8px;
        height: 60%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #register-button-container {
        position: relative;
        height: 20%;
    }
    #register-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5vh !important;
    }
    #promotion-container .center-image {
        width: 98% !important;
    }
}


/* ratio 20:9 */

.promotion-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 95%;
    width: 0;
    transition: 1.5s;
}

#register-button {
    display: block;
    margin: auto;
    padding: 8px;
    width: fit-content;
    font-weight: 600;
    font-size: 2vh;
    text-decoration: none;
    color: #fff;
    background-color: #f95f22;
    border-radius: 4px;
    transition: 0.5s;
}

#register-button:hover {
    color: #f95f22;
    border: 0.2vh solid #f95f22;
    background-color: #fff;
}